[Unit]
Description=Local system suspend actions
Before=sleep.target

[Service]
Type=simple
ExecStart=-pkill openconnect

[Install]
WantedBy=sleep.target
